.bitcoin-price {
    font-size:16px;
    color: #333;
    margin-bottom: 20px;
    display: row;
    margin-left:30px;
  }
  
  .usd-price {
    font-weight: bold;
    font-size:20px;
  }
  
  .price-change {
    font-family: Inter;
    font-size: 12px;
    padding:8px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-left:10px;
  }
  .inr-price{
    margin-top:-10px;
  }
  .positive {
    background-color: #e6ffe6;
    color: green;
  }
  
  .negative {
    background-color: #ff9999;
    color: red;
  }
  
  .no-change {
    background-color: gray;
    color: white;
  }
  
  .change-indicator {
    font-size: small;
    color: gray;
    margin-left: 10px;
  }
  