/* FooterCarousel.css */
.footer-carousel {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  flex: 0 0 auto;
  width: 300px; /* Adjust the width of each carousel item */
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  margin-right: 10px; /* Adjust the margin between items */
  position: relative;
}

.price-info {
  margin-bottom: 10px;
}

.action-button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.action-button:hover {
  background-color: #2980b9;
}

.nav-button {
  font-size: 24px;
  color: #3498db;
  padding-right: 100px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-button:hover {
  color: #2980b9;
}
