.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Adjust height as needed */
}

.logo-container {
  flex: 1;
  margin-left: 20px;
}

.logo-img {
  max-width: 100px;
  height: auto;
}

.menu-icon {
  display: none; /* Hide the menu icon by default */
  cursor: pointer;
}

.nav-links-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  margin-left: 20px;
  font-size: 1rem;
}

.navbar-link-gs {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 8px;
  background: linear-gradient(81.62deg, #2870EA 8.72%, #1B4AEF 85.01%);
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.navbar-link-gs:hover {
  background: linear-gradient(81.62deg, #1B4AEF 8.72%, #2870EA 85.01%);
}

.additional-text {
  padding-left: 20px;
  margin-top: 10px;
  color: #333;
}

/* Styles for mobile view */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block; /* Display the menu icon for mobile view */
  }

  .nav-links-container {
    display: none; /* Hide the links container in mobile view */
  }

  /* Styles for the navigation drawer */
  .nav-drawer {
    display: none; /* Initially hide the navigation drawer */
    position: fixed;
    top: 60px; /* Adjust according to the height of the navbar */
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 999; /* Ensure the drawer is above other elements */
  }

  .nav-drawer.open {
    transform: translateY(0); /* Slide the drawer into view */
  }

  .nav-drawer .navbar-link {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}
